<head>
</head>
<div class="r">
    <p> data binding and Routing</p>
</div>
<div class="s1">
    <h1 >string interpulation</h1>
    <button routerLink="/string" >string</button>
    <h1 >event-binding</h1>
    <button routerLink="/even" >even</button>
    <h1 >Property Binding</h1>
    <button routerLink="/pro" >Property Binding</button>
    <h1 >Two-Way Binding</h1>
    <button routerLink="/two-way" >Two-Way</button>
    <div>
        <button routerLink="/life-cycle" >Two-Way</button>
    </div>
 
    
</div>