<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- <p style="background-color: rgb(57, 231, 179);">this sting manuplation</p>
  <app-sringbinding></app-sringbinding>
  <p style="background-color: rgb(57, 231, 179);">this even binding</p>
  <app-event-binding></app-event-binding> -->
  <!-- <app-two-way-binding></app-two-way-binding> -->
  
  <!-- <app-component></app-component> -->
  <!-- <p style="background-color: rgb(57, 231, 179);">this property binding</p>
  <app-proprty-binding></app-proprty-binding> -->
  <img src="E:\angular\proj\Screenshot 2022-09-20 114456.png" [hidden]="hideimg">
  <input type="radio" [(ngModel)]="hideimg">
  <router-outlet></router-outlet>

</body>
</html>